/* Reset */
*,
*:after,
*:before{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    outline:none;
    padding:0;
    position:relative;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}


/* Baseline */
html{
    background:#000;
    color:#fff;
    font:62.5% pixel,serif;
    min-height:100vh;
    -moz-osx-font-smoothing:grayscale;
    -ms-touch-action:manipulation;
    touch-action:manipulation
}
body{
    font-size:1.2rem;
    line-height:1.5em
}
a{
    color:#0079ec;
    font-weight:300
}
article,
code,
footer,
header,
main,
nav,
section{
    display:block
}
.no-touch.ua-webkit body *{
    font-weight:300
}
input[type=email],
input[type=search],
input[type=url],
input[type=tel],
input[type=text],
textarea{
    border:1px rgba(0,0,0,.2) solid;
    border-radius:2px;
    color:#000;
    font-family:ralewaythin;
    font-size:2rem;
    line-height:1.4em;
    outline:none;
    padding:4px 6px;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text
}
input[type=checkbox],
input[type=range]{
    cursor:pointer
}
input[type=search]{
    -webkit-appearance:none;
    -webkit-border-radius:0
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration{
    -webkit-appearance:none;
}
select{
    font-family:ralewaythin;
    font-size:2rem;
    line-height:1.4em
}
option{
    padding:4px 6px
}
button,
input[type=button],
input[type=submit]{
    background:rgba(0,0,0,.7);
    box-shadow:0 -1px 0 rgba(255,255,255,.4) inset;
    border:0;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    font-family:ralewaythin;
    font-size:3rem;
    font-weight:700;
    letter-spacing:-1px;
    padding:4px 9px;
    text-decoration:none;
    text-shadow:0 0 2px rgba(0,0,0,.5)
}
button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=submit]:active,
input[type=submit]:focus{
    background:rgba(0,0,0,.9)
}
button:active,
input[type=button]:active,
input[type=submit]:active{
    background:rgba(0,0,0,1);
}
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled{
    cursor:pointer;
    opacity:.3;
    pointer-events:none
}
button.primaryAction,
input[type=button].primaryAction,
input[type=submit].primaryAction{
    background:rgba(28,184,65,1);
    box-shadow:0 0 6px rgba(0,0,0,.6)
}
button.secondaryAction,
input[type=button].secondaryAction,
input[type=submit].secondaryAction{
    background:rgba(31,141,214,1);
    box-shadow:none
}
button.warning,
input[type=button].warning,
input[type=submit].warning{
    background:rgba(223,117,20,1);
    box-shadow:none
}
button.danger,
input[type=button].danger,
input[type=submit].danger{
    background:rgba(202,60,60,1);
    box-shadow:none
}
h1,
h2,
h3{
    font-weight:200;
    text-shadow:0 0 4px #000;
    text-rendering:optimizeLegibility
}


/* Support classes */
.offScreen{
    position:absolute;
    top:-999999px
}


/* App elements */
.no-js noscript{
    display:block;
    font-size:3rem;
    padding:90px;
    text-align:center
}
.scroller{
    overflow:auto;
    -webkit-overflow-scrolling:touch
}


/* Animation */
main{
    -webkit-transition:.325s;
    -moz-transition:.325s;
    transition:.325s
}